.root {
    padding: 0.5rem;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, .21);
}

.container {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    align-items: center;
}

.container ul {
    display: flex;
}

.searchInput {
    display: flex;
    border-radius: 0.5rem;
    background-color: var(--main-bg);
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.logo img {
    width: 112px;
    height: 31px;
}

.searchIcon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 8px;
}

.searchIcon svg {
    font-size: 20px;
}

.leftNav {
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.leftNav input {
    height: 26px;
    padding: 0;
    border: none;
    outline: none;
    background-color: var(--main-bg);
    flex-grow: 1;
}

.selectContainer select {
    width: fit-content;
    background-color: var(--main-bg);
    border: none;
    outline: none;
    border-left: 1px solid var(--text-color-primary);
    padding-left: 4px;
}

.rightNav li {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.rightNav a:not(:last-child) {
    margin-right: 8px;
}
