@import "reset-css";

:root {
    --secondary-text-color: rgb(109, 109, 109);
    --right-primary-color: #62c370;
    --wrong-primary-color: #e63946;
    --tw-bg-opacity: 1;
    --primary-color: rgb(136 84 192/var(--tw-bg-opacity));
    --shadow-primary: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --button-primary-shadow: 0 4px 0 0 #6c4298;
}

* {
    box-sizing: border-box;
}