.root {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    border-radius: 9999px;
    background-color: var(--main-bg);
    width: fit-content;
    display: inline-flex;
    font-size: 10px;
    height: 16px;
    align-items: center;
}