body {
    margin: 0;
    padding: 0;
    background-color: rgba(247,249,250,1.00);
}

/* Css Header */

.header {
    width: 100%;
    position: relative;
}
.header_nav {
    background-color: #0a1d35;
    width: 100%;
    box-shadow: 0px 1px 1px #0000001f;
}
.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}
.container {
    max-width: 1300px !important;
}
.nav_logo_menu {
    display: flex;
    align-items: center;
}
.nav_logo {
    max-width: 120px;
}
.nav_logo img {
    width: 80%;
}
img {
    max-width: 100%;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    color: #FFF;
}
.nav_menu .menu_list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #FFF;
}
.menu_list .list_item {
    padding: 32px 12px;
    position: relative;
}
.menu_list .list_item .sub_menu_e:nth-child(2) ul {
    width: 50%;
}
.menu_mobile {
    display: none;
    color: #FFF;
    font-size: 30px;
}
.nav_button a {
    font-family: Arial;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.sub_menu {
    display: none;
    visibility: hidden;
    top: 100%;
    min-width: 245px;
    position: absolute;
    background: #0a1d35;
    padding: 9px 0;
    list-style-type: none;
    transition: all 0.5s ease;
    z-index: 50;
}

.sub_menu-item {
    padding: 6px 18px;
    transition: all 0.8s ease;
}

.sub_menu-item a {
    font-size: 14px;
}

.sub_menu-item:hover {
    background-color: #0a1d35;
    transition: all 0.3s ease;
}

.sub_menu-item:hover a {
    color: #ffffff;
}

.list_item:hover .sub_menu,
.list_item:hover .sub_menu_e {
    display:block;
    visibility: visible;
    transition: all 0.5s ease;
       
}

.sub_menu_e {
   display:none;
    visibility: hidden;
    padding: 0;
    top: 85%;
    width: 70%;
     background: #deb159;
    left: 15%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid rgba(236, 236, 236, 0.938);
}

.menu_list .list_item a {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Arial;
    color: #FFF;
    font-size: 15px;
}
.nav_button a {
    font-family: Arial;
}
.nav_button a button {
    text-transform: uppercase;
    border: none;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 5px;
    color: #ffffff;
    transition: all .5s ease;
    font-weight: 600;
}
.nav_button a button:hover{
    background-color: #0a1d35;
}
.nav_button a button:focus {
    outline: none;
}

/* Css Banner */

.banner {
    width: 100%;
    position: relative;
}
.header_banner img {
    width: 100%;
    max-width: 100%;
    height: 82vh;
}
.header_bgr {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: #1312125c;
    z-index: 1;
}


/* Css nav */
.navcontent {
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Căn giữa nội dung trong class "navcontent" */
}

.navcontent nav {
    /* display: inline-block; Hiển thị là một khối nội dung và căn giữa theo chiều ngang */
    text-align: left; /* Đặt lại căn giữa chiều ngang cho nội dung của "nav" */
}

.navcontent h3 {
    margin-bottom: 20px;
    margin-left: 85px;
}

.navcontent h6{
    color: dimgray;
    font-size: 15px;
    margin-left: 85px;
}

/* Css contentweb */
.contentWeb{
    height: 450px;
    border: 1px solid none;
    border-radius: 10px;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
}

.textContent{
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.textContent p{
    background-color: rgb(255, 94, 31);
    border-radius: 5px;
    width: 85px;
    padding-left: 10px;
    color: white;
    height: 30px;
}
.cssabc{
    
}
.textContent b{
    margin-left: 20px;
    font-size: 18px;
    width: 150px;
}

.textContent a{
    margin-left: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    color: grey;
    height: 30px;
    width: 150px;
    padding-left: 5px;
    padding-top: 2px;
}

.textContent h5{
    margin-left: 375px;
    color:  rgb(13, 194, 133);
}

.custom-hr{
    margin-left: 20px;
    margin-right: 20px;
}

.mainContent{
    display: flex;
}

.mainContent img{
    width: 150px;
    height: 100px;
    border-radius: 5px;
    margin-left: 20px;
}
.custom-mr{
    margin-left: 20px;
    margin-right: 20px;
}

.mainContent{
    display: flex;
}

.mainContent img{
    width: 150px;
    height: 100px;
    border-radius: 5px;
    margin-left: 20px;
}


.detailContent h5,
.detailContent h6{
    margin-left: 20px;
}

.detailContent h6{
    color: gray;
}

.priceContent{
    margin-left: 420px;
    padding-top: 20px;
    color: rgb(255, 94, 31);
}

.contentPay{
    height: 150px;
    border: 1px solid none;
    border-radius: 10px;
    background-color: rgb(247, 241, 231);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
}

.textPay{
    display: flex;
    margin-left: 790px;
    padding-top: 30px;
    padding-right: 20px;
}

.textPay h5{
   margin-left: 10px;
}

.contentPay .btnPay{
    margin-left: 755px;
    padding-right: 20px;
}

.btnPay .btn1{
    width: 130px;
    height: 40px;
    color: white;
    background-color: rgb(255, 94, 31);
    border: none;
    border-radius: 5px;
}

.btnPay .btn2{
    width: 150px;
    height: 40px;
    color: gray;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
}

/* Css footer */
.main_footer {
    padding: 70px 0 50px;
    background-color:#0a1d35;
    color: #fbfbfbcc;
}
.container {
    max-width: 1300px !important;
}
.footer_logo {
    text-align: center;
}
.footer_logo img {
    width: 50%;
    object-fit: cover;
    margin-right: 200px;
}
img {
    max-width: 100%;
}
.footer_info {
    margin-bottom: 20px;
}
.main_footer div h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: Arial;
    font-weight: 600;
}
.contact_address, .quick_list {
    list-style-type: none;
    padding: 0;
}
.contact_address-item {
    margin: 0 0 10px 0;
    font-size: 14px;
}
.contact_address-item i {
    margin: 0 5px 0 0;
}
.quick_list-item a, .contact_address-item a {
    color: #fbfbfbcc;
}
.contact_address, .quick_list {
    list-style-type: none;
    padding: 0;
}
.quick_list-item {
    margin: 0 0 10px 0;
    font-size: 14px;
}
.input_email {
    display: flex;
    background-color: #ffffff;
    align-items: center;
}
.input_email input {
    background-color: #fff;
    border-radius: 2px;
    color: #666666;
    padding: 13px 50px 13px 15px;
    width: 150%;
    border: none;
}

.button_signUp {
    appearance: none;
    background-color: #da3c3c;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    padding: 15px 20px;
    text-transform: uppercase;
    width: 100%;
}
.footer_copyright {
    background-color:#000;
    color: rgb(255 255 255);
    font-size: 14px;
    text-align: center;
    padding: 10px 15px;
}
