<div class="app-sidebar   app-sidebar--light">
            <div class="app-sidebar--header">
                <div class="nav-logo w-100 text-center">
                    <a href="/admin" class="d-block" data-toggle="tooltip"
                        title="">
                        <img src="/client/images/logo.svg" alt="" height="100px">
                    </a>
                </div>
                <button class="toggle-sidebar rounded-circle btn btn-sm bg-white shadow-sm-dark text-primary"
                    data-toggle="tooltip" data-placement="right" title="Expand sidebar" type="button">
                    <i class="fas fa-arrows-alt-h"></i>
                </button>
            </div>
            <div class="app-sidebar--content scrollbar-container">
                <div class="sidebar-navigation">
                    <ul id="sidebar-nav">
                        <li class="sidebar-header">Booking Hotel</li>
                        <li>
                            <a href="/admin" aria-expanded="true">
                                <span>
                                    <i data-feather="home"></i>
                                    <span>Trang chủ</span>
                                </span>
                               
                            </a>

                        </li>
                        <li class="sidebar-header">
                            Pages
                        </li>
                        <li>
                            <a href="#" aria-expanded="false">
                                <span>
                                    <i data-feather="truck"></i>
                                    <span>Đơn hàng</span>
                                    
                                </span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <ul aria-expanded="false" class="animated fade">
                                <li>
                                    <a href="/admin/booking">
                                      Quản lý đặt phòng
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="#" aria-expanded="false">
                                <span>
                                    <i data-feather="airplay"></i>
                                    <span>Phòng</span>
                                </span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <ul aria-expanded="false" class="animated fade">
                                <li>
                                    <a href="/admin/page-room">
                                        Danh sách phòng
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#" aria-expanded="false">
                                <span>
                                    <i data-feather="users"></i>
                                    <span>Tài khoản</span>
                                </span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <ul aria-expanded="false" class="animated fade">
                                <li>
                                    <a href="/admin/account">
                                        Danh sách tài khoản
                                    </a>
                                </li>

                            </ul>
                        </li>

<!--                        <li>-->
<!--                            <a href="#" aria-expanded="false">-->
<!--                                <span>-->
<!--                                    <i data-feather="check-circle"></i>-->
<!--                                    <span>Tiện ích</span>-->
<!--                                </span>-->
<!--                                <i class="fas fa-angle-right"></i>-->
<!--                            </a>-->
<!--                            <ul aria-expanded="false" class="animated fade">-->
<!--                                <li>-->
<!--                                    <a href="/admin/amenities">-->
<!--                                        Danh sách tiện  ích-->
<!--                                    </a>-->
<!--                                </li>-->

<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#" aria-expanded="false">-->
<!--                                <span>-->
<!--                                    <i data-feather="gift"></i>-->
<!--                                    <span>Mã giảm giá</span>-->
<!--                                </span>-->
<!--                                <i class="fas fa-angle-right"></i>-->
<!--                            </a>-->
<!--                            <ul aria-expanded="false" class="animated fade">-->
<!--                                <li>-->
<!--                                    <a href="/admin/voucher">-->
<!--                                        Quản lý mã giảm giá-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#" aria-expanded="false">-->
<!--                                <span>-->
<!--                                    <i data-feather="percent"></i>-->
<!--                                    <span>Giảm giá phòng</span>-->
<!--                                </span>-->
<!--                                <i class="fas fa-angle-right"></i>-->
<!--                            </a>-->
<!--                            <ul aria-expanded="false" class="animated fade">-->
<!--                                <li>-->
<!--                                    <a href="/admin/discount">-->
<!--                                        Quản lý giảm giá phòng-->
<!--                                    </a>-->
<!--                                </li>-->

<!--                            </ul>-->
<!--                        </li>-->
                        <li>
                            <a href="#" aria-expanded="false">
                                <span>
                                    <i data-feather="calendar"></i>
                                    <span>Dịch vụ</span>
                                </span>
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <ul aria-expanded="false" class="animated fade">
                                <li>
                                    <a href="/admin/service">
                                        Quản lý dịch vụ
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="/logout" aria-expanded="false">
                                <span>
                                    <i data-feather="log-out"></i>
                                    <span>Đăng xuất</span>
                                </span>
                              
                            </a>
                         
                        </li>
                    </ul>
                </div>

            </div>

        </div>