<!doctype html>
<html lang="en">

<head>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Quản lý dịch vụ</title>
    <link rel="icon" href="/client/images/logo-hotel-removebg.png" type="image/x-icon">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="shortcut icon" href="./favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Bamburgh HTML5 Admin Dashboard with Bootstrap PRO Stylesheets -->

    <link rel="stylesheet" href="css/bamburgh.min.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

        body {
            font-family: 'Dosis', sans-serif;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
        integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body id="app-top">

    <div class="app-wrapper">
        <th:block th:insert="~{/admin/menu}"></th:block>
        <div class="app-main">
            <th:block th:insert="~{/admin/header}"></th:block>

            <div class="modal fade" id="modal-save" tabindex="-1" role="dialog" aria-labelledby="modal-bbb4"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="">Tên dịch vụ</label>
                                        <input type="text" name="" id="serviceId" hidden>
                                        <input type="text" class="form-control" id="serviceName"
                                            placeholder="Tên dịch vụ">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Giá dịch vụ</label>
                                        <input type="text" class="form-control" id="servicePrice"
                                            placeholder="Giá dịch vụ">
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <textarea name="" id="serviceNotes" cols="30" rows="5" class="form-control"></textarea>
                                </div>

                                <button type="button" class="btn btn-primary" onclick="saveOrUpdate()">
                                    <i class="fas fa-save"></i>
                                    Lưu
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="app-content">
                <div class="app-content--inner">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-xl-7">
                                <div>
                                    <ol class="breadcrumb text-uppercase font-size-xs p-0">
                                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#">Dịch vụ phòng</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Danh sách dịch vụ</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="card card-box mb-5">
                            <div class="card-header pr-2">
                                <div class="card-header--title">
                                    <b>Danh sách dịch vụ</b>
                                </div>
                                <div class="card-header--actions"><button type="button" class="btn btn-sm btn-primary"
                                        data-toggle="modal" data-target="#modal-save">
                                        <i class="fas fa-plus"></i>
                                        Thêm mới
                                    </button>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div data-toggle="sortable-table">
                                    <div class="table-responsive-md">
                                        <table class="table table-striped table-hover mb-0">
                                            <thead class="thead-light">
                                                <tr>
                                                    <!-- <th scope="col" class="sort" data-sort="id">ID</th> -->
                                                    <th scope="col" class="sort" data-sort="name">Tên dịch vụ</th>
                                                    <th scope="col" class="sort" data-sort="name">Giá</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="list" id="data-table">




                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="divider"></div>
                                    <div class="p-3">
                                        <ul class="pagination justify-content-center mb-0">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <i class="fas fa-chevron-left"></i>
                                                </a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <i class="fas fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <th:block th:insert="~{/admin/footer}"></th:block>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="vendor/bootstrap.min.js"></script>

    <script>
        var currentPage = 1;
        var totalPages = 1;

        goToPage(1)

        function goToPage(page) {

            if (page > this.totalPages) {
                page = 1;
            }

            if (page == 0) {
                page = this.totalPages
            }

            axios.get("/admin/facility?page=" + page)
                .then(res => {
                    $('#data-table').empty();

                    const locale = "vi-VN";

                    const options = {
                    currency: "VND",
                    useGrouping: true,
                    };

                    res.data.content.forEach(function (item) {
                        var row = ` <tr>
                                                
                                                    <td class="name">
                                                        <div class="align-box-row">
                                                           ${item.name}
                                                        </div>
                                                    </td>
                                                    <td class="name">
                                                        <div class="align-box-row">
                                                        ${new Intl.NumberFormat(locale, options).format(item.price)} VNĐ
                                                        </div>
                                                    </td>
                                                    <td class="text-center" width="5%">
                                                        <div class="dropdown">
                                                            <button type="button" class="btn btn-link btn-sm"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div
                                                                class="dropdown-menu dropdown-menu-xl dropdown-menu-right p-0">
                                                                <div class="grid-menu grid-menu-2col">
                                                                    <div class="no-gutters row">
                                                                        <div class="col-sm-6 p-3">
                                                                            <button onclick="edit(${item.id})"

                                                                                class="btn border-0 w-100 btn-outline-primary"
                                                                                >
                                                                                <i
                                                                                    class="fa-solid fa-pen-to-square font-size-xxl d-block mb-2"></i>
                                                                                <span>Sửa</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-sm-6 p-3">
                                                                            <button
                                                                                class="btn border-0 w-100 btn-outline-danger" onclick="deleteFacility(${item.id})">
                                                                                <i
                                                                                    class="fas fa-trash-alt font-size-xxl d-block mb-2 fa-bezier-curve"></i>
                                                                                <span>Xoá</span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>`
                        $('#data-table').append(row);
                    });

                    if (res.data.content.length <= 0) {
                        var row = `<tr class="text-center"><td colspan="4"><b>Khách sạn chưa có dịch vụ nào !</b></td></tr>`;
                        $('#data-table').append(row);
                    }


                    this.currentPage = page;
                    this.totalPages = res.data.totalPages

                    updatePagination()
                })
                .catch(err => {
                    console.error('Error fetching data:', err);

                })
        }

        function getPaginationArrayAttributes() {
            let startPage = Math.max(1, this.currentPage - 2);
            let endPage = Math.min(startPage + 4, this.totalPages);

            let arr = [];
            for (let i = startPage; i <= endPage; i++) {
                arr.push(i);
            }
            return arr;
        }

        function saveOrUpdate() {

            // Create a voucher object
            var facility = {
                id: $('#serviceId').val(),
                name: $('#serviceName').val(),
                price: $('#servicePrice').val(),
                notes: $('#serviceNotes').val()


            };
            axios.post("/admin/facility/create", facility)
                .then(res => {
                    setNullFacility()

                    goToPage(1)

                    Swal.fire({
                        title: "Thông báo!",
                        text: res.data,
                        icon: "success"
                    });
                })
                .catch(error => {
                    var message;
                    if (error.response) {
                        message = error.response.data.message
                    } else {
                        message = "Lỗi vui lòng kiểm tra lại!"
                    }

                    Swal.fire({
                        title: "Thông báo!",
                        text: message,
                        icon: "error"
                    });
                })
        }

        function deleteFacility(id) {
            Swal.fire({
                title: "Bạn có chắc chắn muốn xóa không?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Xóa !"
            }).then((result) => {
                if (result.isConfirmed) {

                    axios.delete("/admin/facility/delete/" + id)
                        .then(res => {
                            Swal.fire({
                                title: "Thông báo!",
                                text: res.data,
                                icon: "success"
                            });

                            goToPage(1)
                        }).catch(error => {
                            var message;
                            if (error.response) {
                                message = error.response.message
                            } else {
                                message = "Lỗi vui lòng kiểm tra lại!"
                            }

                            Swal.fire({
                                title: "Thông báo!",
                                text: message,
                                icon: "error"
                            });
                        })
                }
            });
        }

        function edit(id) {
            axios.get("/admin/facility/" + id)
                .then(res => {
                    var facility = res.data

                    $('#serviceId').val(facility.id),
                        $('#serviceName').val(facility.name),
                        $('#servicePrice').val(facility.price),
                        $('#serviceNotes').val(facility.notes)

                    $("#modal-save").modal()
                })
                .catch(error => {
                    var message;
                    if (error.response) {
                        message = error.response.message
                    } else {
                        message = "Lỗi vui lòng kiểm tra lại!"
                    }

                    Swal.fire({
                        title: "Thông báo!",
                        text: message,
                        icon: "error"
                    });
                })
        }

        function updatePagination() {

            let paginationData = {
                currentPage: this.currentPage,
                totalPages: this.totalPages
            };

            let paginationContainer = document.querySelector('.pagination');


            paginationContainer.innerHTML = '';


            paginationContainer.innerHTML += `<li class="page-item"><a class="page-link" onclick="goToPage(${this.currentPage - 1})" aria-label="Previous"><i class="fas fa-chevron-left"></i></a></li>`;


            let pageNumbers = getPaginationArrayAttributes.call(paginationData);


            pageNumbers.forEach(pageNumber => {
                let isActive = pageNumber === paginationData.currentPage ? 'active' : '';
                paginationContainer.innerHTML += `<li class="page-item ${isActive}"><a class="page-link"onclick="goToPage(${pageNumber})">${pageNumber}</a></li>`;
            });



            paginationContainer.innerHTML += `<li class="page-item"><a class="page-link" onclick="goToPage(${this.currentPage + 1})" aria-label="Next"><i class="fas fa-chevron-right"></i></a></li>`;
        }

        function setNullFacility() {
            $('#serviceId').val(''),
                $('#serviceName').val(''),
                $('#servicePrice').val(''),
                $('#serviceNotes').val('')
        }
    </script>
    <!--Bootstrap init-->

    <script src="js/bootstrap.min.js"></script>

    <!--MetisMenu-->

    <script src="vendor/metismenu.min.js"></script>

    <!--MetisMenu init-->

    <script src="js/metismenu.min.js"></script>

    <!--Perfect scrollbar-->

    <script src="vendor/perfect-scrollbar.min.js"></script>

    <!--Perfect scrollbar init-->

    <script src="js/perfect-scrollbar.min.js"></script>

    <!--FeatherIcons-->

    <script src="vendor/feather-icons.min.js"></script>

    <!--FeatherIcons init-->

    <script src="js/feather-icons.min.js"></script>

    <!--Layout-->

    <script src="js/bamburgh.min.js"></script>

</body>

</html>