<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/client/css/mainHome.css">
    <link rel="stylesheet" href="/client/css/HeaderBannerFooter.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="/client/images/logo-hotel-removebg.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/client/css/confirmAccount.css">
</head>

<body>
    <th:block th:insert="~{/client/menu}"></th:block>

    <div dir="ltr" class="es-wrapper-color mt-4 mb-4" >
        <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="background-color: white">
            <tbody>
                <tr>
                    <td class="esd-email-paddings" valign="top">
                        <table class="es-content" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td class="esd-stripe" align="center">
                                        <table class="es-content-body"width="600"
                                            cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                                <tr>
                                                    <td class="esd-structure" align="left" esd-custom-block-id="794034">
                                                        <table cellspacing="0" cellpadding="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="es-m-p0r esd-container-frame" width="600"
                                                                        valign="top" align="center">
                                                                        <table width="100%" cellspacing="0"
                                                                            cellpadding="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center"
                                                                                        class="esd-block-banner"
                                                                                        style="position: relative;"
                                                                                        esdev-config="h1"><a
                                                                                            target="_blank"><img
                                                                                                class="adapt-img esdev-stretch-width esdev-banner-rendered"
                                                                                                src="/client/images/banner_active.png"
                                                                                                alt title width="600"
                                                                                                style="display: block;"></a>
                                                                                        <esd-stored-config-block
                                                                                            style="display: none;"> null
                                                                                        </esd-stored-config-block>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="esd-structure es-p30t es-p30b es-p20r es-p20l"
                                                        align="left" esd-custom-block-id="794035" bgcolor="#6a994e"
                                                        style="background-color: #6a994e;">
                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="560" class="esd-container-frame"
                                                                        align="center" valign="top">
                                                                        <table cellpadding="0" cellspacing="0"
                                                                            width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center"
                                                                                        class="esd-block-text es-p10 es-m-txt-c">
                                                                                        <h3 style="color: #ffffff;" th:text="'Hi '+${fullname}">
                                                                                            </h3>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center"
                                                                                        class="esd-block-text es-m-txt-c es-p20t">
                                                                                        <p style="color: #ffffff;">Thank you for verifying your account.
                                                                                            Please continue to log in to experience our hotel services.</p>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center"
                                                                                        class="esd-block-button es-p30t es-m-txt-c">
                                                                                        <span
                                                                                            class="msohide es-button-border"
                                                                                            style="background: #ffffff; border-color: #ffffff;"><a
                                                                                                href="/login"
                                                                                                class="es-button"
                                                                                                target="_blank"
                                                                                                style="background: #ffffff; mso-border-alt: 10px solid  #ffffff; color: #386641">Login here</a></span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <th:block th:insert="~{/client/footer}"></th:block>
</body>

</html>