<section class="banner">
  <div class="header_banner">
    <div class="banner-slider owl-carousel owl-theme owl-loaded owl-drag">
      <div class="owl-stage-outer">
        <div class="owl-stage">
          <div class="owl-item cloned" style="width: 100%;">
            <div class="banner-item">
              <img src="/client/images/banner1.jpg" alt="No picture">
              <div class="header_name">
                <h3 class="name_text" style="font-family: 'Old Standard TT', serif;">
                  <div style="text-align:center"><span style="color:#FFFFFF">&nbsp;Thuộc quần thể
                                                biệt thự&nbsp;cao cấp </span></div>
                </h3>
                <h3 class="name_title" style="font-family: 'Old Standard TT', serif;">
                  Sang trọng &amp; đẳng cấp
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="check_date">-->
<!--    <div class="container container_check">-->
<!--      <form action="#" method="get">-->
<!--        <div class="check_in">-->
<!--          <input type="text" id="check_in" name="CheckIn" placeholder="Arrival Date">-->
<!--          <i class="fas fa-calendar-week"></i>-->
<!--        </div>-->
<!--        <div class="check_out">-->
<!--          <input type="text" id="check_out" name="CheckOut" placeholder="Departure Date">-->
<!--          <i class="fas fa-calendar-week"></i>-->
<!--        </div>-->
<!--        <div class="Adult">-->
<!--          <select name="Adult" id="Adult">-->
<!--            <option value="0">Người lớn</option>-->
<!--            <option value="1">1</option>-->
<!--            <option value="2">2</option>-->
<!--            <option value="3">3</option>-->
<!--            <option value="4">4</option>-->
<!--            <option value="5">5</option>-->
<!--            <option value="6">6</option>-->
<!--            <option value="7">7</option>-->
<!--            <option value="8">8</option>-->
<!--            <option value="9">9</option>-->
<!--          </select>-->
<!--        </div>-->
<!--        <div class="Children">-->
<!--          <select name="Child" id="children">-->
<!--            <option value="0">Trẻ em</option>-->
<!--            <option value="1">1</option>-->
<!--            <option value="2">2</option>-->
<!--            <option value="3">3</option>-->
<!--          </select>-->
<!--        </div>-->
<!--        <div class="button_submit">-->
<!--          <button>Đặt phòng</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->

</section>