<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/client/css/contact.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/client/images/logo-hotel-removebg.png" type="image/x-icon">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
<th:block th:insert="~{/client/menu}"></th:block>
<th:block th:insert="~{/client/banner}"></th:block>
<section id="contact" class="contact_address">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="h-100 bg-light rounded d-flex align-items-center p-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
                             style="width: 55px; height: 55px;">
                            <i class="fa fa-map-marker-alt text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Address</p>
                            <h5 class="mb-0">Hòa Khánh Nam, Liên Chiểu, Đà Nẵng</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="h-100 bg-light rounded d-flex align-items-center p-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
                             style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Call Us Now</p>
                            <h5 class="mb-0">+0987 654 321</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="h-100 bg-light rounded d-flex align-items-center p-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
                             style="width: 55px; height: 55px;">
                            <i class="fa fa-envelope-open text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Mail Us Now</p>
                            <h5 class="mb-0">bookinght@gmail.com</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-light rounded p-5">
                        <p class="d-inline-block border rounded-pill py-1 px-4">Contact Us</p>
                        <h1 class="mb-4">Bạn có bất kì thắc mắc nào? Xin vui lòng liên hệ chúng tôi!</h1>
                        <p class="mb-4">Liên hệ với chúng tôi để chúng tôi có thể lắng nghe và hỗ trợ bạn.
                            Chúng tôi đánh giá cao mọi ý kiến phản hồi, câu hỏi và yêu cầu của bạn.</p>
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <br>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email"
                                               placeholder="Your Email">
                                        <br>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        <br>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a message here"
                                                      id="message" style="height: 100px"></textarea>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn w-100 py-3" type="submit"
                                            style="background-color: #da3c3c; color: #FFF">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100" style="min-height: 400px;">
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14757.502574484977!2d108.13458101167791!3d16.05419065095713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421934fe1a5519%3A0x45d1b7d53847d39f!2zSMOyYSBLaMOhbmggTmFtLCBMacOqbiBDaGnhu4N1LCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1700749368852!5m2!1svi!2s"
                                width="600" height="666" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <div class="main_footer">
        <div class="container footer_container">
            <div class="row footer_row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer_logo" style="margin: 0 0 15px 0;">
                        <img src="/images/logo-dark.png" alt="No picture">
                    </div>
                    <div class="footer_info" style="font-size: 13px">
                        <p>http://BookingHotel.vn/</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <h3 style="color:#ffffff">Liên hệ</h3>
                    <div class="footer_contact">
                        <ul class="contact_address">
                            <li class="contact_address-item">
                                <i class="fas fa-map-marker-alt"></i>Hòa Khánh Nam, Liên Chiểu, Đà Nẵng
                            </li>
                            <li class="contact_address-item">
                                <a href="#">
                                    <i class="fas fa-phone-alt"></i> 0367723124
                                </a>
                            </li>
                            <li class="contact_address-item">
                                <a href="#">
                                    <i class="far fa-envelope"></i> nhom3@web
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <h3 style="color:#ffffff">Đường dẫn</h3>
                    <div class="footer_quick">
                        <ul class="quick_list">
                            <li class="quick_list-item">
                                <a href="lien-he">Liên hệ</a>
                            </li>
                            <li class="quick_list-item">
                                <a href="ve-chung-toi">Về chúng tôi</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <h3 style="color:#ffffff">ĐỪNG BỎ LỠ BẤT KỲ BẢN CẬP NHẬT NÀO</h3>
                    <div class="input_email">
                        <input type="text" placeholder="Email">
                        <i class="far fa-envelope"></i>
                    </div>
                    <a href="#">
                        <button class="button_signUp">Đăng ký ngay</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copyright">
        <div class="container">
                <span>
                    Copyright ©Booking Hotel 2023 All Rights Reserved
                </span>
        </div>
    </div>
</section>
</body>

</html>