<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/client/css/mainHome.css">
    <link rel="stylesheet" href="/client/css/HeaderBannerFooter.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/client/images/logo-hotel-removebg.png" type="image/x-icon">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
<th:block  th:insert="~{/client/menu}"></th:block>
<th:block  th:insert="~{/client/banner}"></th:block>
    <section class="main">
        <div class="main_hotel" style="margin-top: 60px;">
            <div class="container hotel_container">
                <div class="row hotel_row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hotel_col">
                        <div class="hotel_img">
                            <img src="/client/images/ab.jpg" alt="No picture">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hotel_col">
                        <div class="hotel_text">
                            <div class="text_name">
                                <h3 style="font-family: 'Old Standard TT', serif;">
                                    Chào mừng đến với Booking Hotel
                                </h3>
                                <div class="text">
                                    <div style="text-align:justify">Booking Hotel&nbsp;với các phòng biệt thự và bungalow
                                        được trang bị đầy đủ tiện nghi, không gian bên trong được bài trí theo phong
                                        cách sang trọng pha trộn những nét truyền thống của người Việt và những nét hiện
                                        đại của phương Tây. Chúng tôi có đội ngũ nhân viên được đào tạo bài bản, chuyên
                                        nghiệp và tác phong chuyên nghiệp, phục vụ tận tình.<br>
                                        Booking Hotel tự tin mang đến cho bạn sự thăng hoa về cảm xúc, những trải nghiệm
                                        tốt nhất, tuyệt vời nhất trong kỳ nghỉ dưỡng của bạn. Hãy đến với chúng tôi,
                                        chúng tôi đảm bảo rằng bạn sẽ không hối tiếc.</div>
                                </div>
                                <br>
                                <b>
                                    <i></i>
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr style="margin-top: 40px;">

        <div class="main_lodging" style="margin-top: 60px;">
            <div class="container lodging_container">
                <div class="lodging_title">
                    <span>Khám phá</span>
                    <h2 class="title" style="color:#111111;">Các hạng phòng</h2>
                </div>
            </div>
            <div class="main_space-mg30"></div>
            <div class="carousel_lod">
                <div class="container car_container">
                    <div class="carousel_lod--list owl-carousel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                style="transform: translate3d(-1290px, 0px, 0px); transition: all 0s ease 0s; width: 4300px;">
                                <div class="owl-item cloned" style="width: 410px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="col-lg-12 col-md-12">
                                            <a href="#">
                                                <div class="item_content">
                                                    <div class="item_img">
                                                        <img src="/client/images/Bedroom-Boos-Apartmen3t.jpg"
                                                            alt="phong-senior">
                                                    </div>
                                                    <div class="item_text">
                                                        <h3 style="font-family: 'Old Standard TT', serif;">Phòng Senior</h3>
                                                        <div class="item_text-price">
                                                            Chỉ từ 1.100.000 VNĐ/Đêm
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 410px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="col-lg-12 col-md-12">
                                            <a href="#">
                                                <div class="item_content">
                                                    <div class="item_img">
                                                        <img src="/client/images/Bedroom-Apartment-4.jpg"
                                                            alt="phong-connecting">
                                                    </div>
                                                    <div class="item_text">
                                                        <h3 style="font-family: 'Old Standard TT', serif;">Phòng Connecting</h3>
                                                        <div class="item_text-price">
                                                            Chỉ từ 1.650.000 VNĐ/Đêm
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 410px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="col-lg-12 col-md-12">
                                            <a href="#">
                                                <div class="item_content">
                                                    <div class="item_img">
                                                        <img src="/client/images/Deluxe-Room-1.jpg"
                                                            alt="phong-deluxe">
                                                    </div>
                                                    <div class="item_text">
                                                        <h3 style="font-family: 'Old Standard TT', serif;">Phòng Deluxe</h3>
                                                        <div class="item_text-price">
                                                            Chỉ từ 900.000 VNĐ/Đêm
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 410px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="col-lg-12 col-md-12">
                                            <a href="#">
                                                <div class="item_content">
                                                    <div class="item_img">
                                                        <img src="/client/images/Triple-Room-with-Balcony.jpg"
                                                            alt="phong-triple">
                                                    </div>
                                                    <div class="item_text">
                                                        <h3 style="font-family: 'Old Standard TT', serif;">Phòng Triple</h3>
                                                        <div class="item_text-price">
                                                            Chỉ từ 1.500.000 VNĐ/Đêm
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 410px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="col-lg-12 col-md-12">
                                            <a href="#">
                                                <div class="item_content">
                                                    <div class="item_img">
                                                        <img src="/client/images/Bedroom-Boos-Apartmen3t.jpg"
                                                            alt="phong-senior">
                                                    </div>
                                                    <div class="item_text">
                                                        <h3 style="font-family: 'Old Standard TT', serif;">Phòng Senior</h3>
                                                        <div class="item_text-price">
                                                            Chỉ từ 1.100.000 VNĐ/Đêm
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 410px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="col-lg-12 col-md-12">
                                            <a href="#">
                                                <div class="item_content">
                                                    <div class="item_img">
                                                        <img src="/client/images/Bedroom-Apartment-4.jpg"
                                                            alt="phong-connecting">
                                                    </div>
                                                    <div class="item_text">
                                                        <h3 style="font-family: 'Old Standard TT', serif;">Phòng Connecting</h3>
                                                        <div class="item_text-price">
                                                            Chỉ từ 1.650.000 VNĐ/Đêm
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 410px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="col-lg-12 col-md-12">
                                            <a href="#">
                                                <div class="item_content">
                                                    <div class="item_img">
                                                        <img src="/client/images/Deluxe-Room-1.jpg"
                                                            alt="phong-deluxe">
                                                    </div>
                                                    <div class="item_text">
                                                        <h3 style="font-family: 'Old Standard TT', serif;">Phòng Deluxe</h3>
                                                        <div class="item_text-price">
                                                            Chỉ từ 900.000 VNĐ/Đêm
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 410px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="col-lg-12 col-md-12">
                                            <a href="/phong-nghi/12/phong-triple">
                                                <div class="item_content">
                                                    <div class="item_img">
                                                        <img src="/client/images/Triple-Room-with-Balcony.jpg"
                                                            alt="phong-triple">
                                                    </div>
                                                    <div class="item_text">
                                                        <h3 style="font-family: 'Old Standard TT', serif;">Phòng Triple</h3>
                                                        <div class="item_text-price">
                                                            Chỉ từ 1.500.000 VNĐ/Đêm
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 410px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="col-lg-12 col-md-12">
                                            <a href="#">
                                                <div class="item_content">
                                                    <div class="item_img">
                                                        <img src="/client/images/Bedroom-Boos-Apartmen3t.jpg"
                                                            alt="phong-senior">
                                                    </div>
                                                    <div class="item_text">
                                                        <h3 style="font-family: 'Old Standard TT', serif;">Phòng Senior</h3>
                                                        <div class="item_text-price">
                                                            Chỉ từ 1.100.000 VNĐ/Đêm
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item cloned" style="width: 410px; margin-right: 20px;">
                                    <div class="item">
                                        <div class="col-lg-12 col-md-12">
                                            <a href="#">
                                                <div class="item_content">
                                                    <div class="item_img">
                                                        <img src="/client/images/Bedroom-Apartment-4.jpg"
                                                            alt="phong-connecting">
                                                    </div>
                                                    <div class="item_text">
                                                        <h3 style="font-family: 'Old Standard TT', serif;">Phòng Connecting</h3>
                                                        <div class="item_text-price">
                                                            Chỉ từ 1.650.000 VNĐ/Đêm
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel_two" style="margin-top: 60px;">
            <div class="carousel_two-n owl-carousel owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item cloned" style="width: 1519.2px; margin-right: 20px;">
                        </div>
                        <div class="owl-item active" style="width: 1519.2px; margin-right: 20px;">
                        </div>
                        <div class="owl-item cloned" style="width: 1519.2px; margin-right: 20px;">
                            <div class="item"
                                style="background-image: url(/client/images/10.jpg);height: 600px;background-repeat: no-repeat;background-size: cover;">
                                <div class="col-lg-6 col-md-6 car-t-overlay"></div>
                                <div class="item_context">
                                    <div class="container car-t-container">
                                        <div class="col-lg-6 col-md-6">
                                            <h3 class="title" style="font-family: 'Old Standard TT', serif;">
                                                Spa như chưa từng có trước đây
                                            </h3>
                                            <div class="text">
                                                <p>Ngay từ khi bạn bước vào, mọi cảm giác đều mời bạn thư giãn. Hãy tham
                                                    gia một cuộc hành trình khám phá và kết nối lại tâm trí, cơ thể và
                                                    tinh thần - được hướng dẫn bởi các nhà trị liệu Aman giàu kinh
                                                    nghiệm của chúng tôi. Chúng tôi mong được chào đón bạn.</p>
                                            </div>
                                            <div class="button_booknow">
                                                <a href="#">
                                                    <button>Liên hệ</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_vacation" style="margin-top: 60px;">
            <div class="container vacation_container">
                <div class="vacation_title">
                    <h2 class="title" style="color:#111111;margin:0 0 30px 0">Dịch vụ</h2>
                </div>
                <div class="row vacation_row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a href="#">
                            <div class="vacation_content">
                                <div class="vacation_img">
                                    <img src="/client/images/Nhu-cau-su-dung-xe-don-nguoi-ra-san-bay-tang-cao.jpg"
                                        alt="No picture">
                                </div>
                                <div class="vacation_overlay"></div>
                                <div class="vacation_icon">
                                    <div class="icon_title">
                                        Đưa đón sân bay
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a href="#">
                            <div class="vacation_content">
                                <div class="vacation_img">
                                    <img src="/client/images/bua-sang-1.jpg" alt="No picture">
                                </div>
                                <div class="vacation_overlay"></div>
                                <div class="vacation_icon">
                                    <div class="icon_title">
                                        Bữa sáng miễn phí
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a href="#">
                            <div class="vacation_content">
                                <div class="vacation_img">
                                    <img src="/client/images/tim-hieu-thu-nhap-cua-huong-dan-vien-du-lich-quoc-te-03.jpg"
                                        alt="No picture">
                                </div>
                                <div class="vacation_overlay"></div>
                                <div class="vacation_icon">
                                    <div class="icon_title">
                                        Hướng dẫn viên du lịch thành phố
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <a href="#">
                            <div class="vacation_content">
                                <div class="vacation_img">
                                    <img src="/client/images/Corallo-FIRE-set-up-e1554377061139.jpg" alt="No picture">
                                </div>
                                <div class="vacation_overlay"></div>
                                <div class="vacation_icon">
                                    <div class="icon_title">
                                        Tiệc BBQ bãi biển
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        
        

        <div class="main_gallery">
            <div class="container">
                <h2 class="text-center" style="font-family: 'Old Standard TT', serif;">Hình ảnh</h2>
                <div class="gallery-grid gallery-home">
                    <div class="gallery-item">
                        <div class="gallery_img">
                            <a href="/client/images/Deluxe-Room-1.jpg" data-fancybox="gallery"><img
                                    src="/client/images/Deluxe-Room-1.jpg" alt="No picture"></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <div class="gallery_img">
                            <a href="/client/images/Deluxe-Room-2.jpg" data-fancybox="gallery"><img
                                    src="/client/images/Deluxe-Room-2.jpg" alt="No picture"></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <div class="gallery_img">
                            <a href="/client/images/Doan-ket-cung-cap-nhieu-loai-xe-phuc-vu-nhu-cau-dua-don-san-bay.jpg"
                                data-fancybox="gallery"><img
                                    src="/client/images/Doan-ket-cung-cap-nhieu-loai-xe-phuc-vu-nhu-cau-dua-don-san-bay.jpg"
                                    alt="No picture"></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <div class="gallery_img">
                            <a href="/client/images/Deluxe-Room-3.jpg" data-fancybox="gallery"><img
                                    src="/client/images/Deluxe-Room-3.jpg" alt="No picture"></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <div class="gallery_img">
                            <a href="/client/images/Deluxe-Room-4.jpg" data-fancybox="gallery"><img
                                    src="/client/images/Deluxe-Room-4.jpg" alt="No picture"></a>
                        </div>
                    </div>
                    <div class="gallery-item">
                        <div class="gallery_img">
                            <a href="/client/images/Deluxe-Room-5.jpg" data-fancybox="gallery"><img
                                    src="/client/images/Deluxe-Room-5.jpg" alt="No picture"></a>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </section>

    <th:block  th:insert="~{/client/footer}"></th:block>
</body>

</html>