<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/client/css/mainHome.css">
    <link rel="stylesheet" href="/client/css/HeaderBannerFooter.css">
    <link rel="icon" href="/client/images/logo-hotel-removebg.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        p {
            font-size: 14px;
        }
    </style>
</head>

<body>

    <th:block  th:insert="~{/client/menu}"></th:block>
    <th:block  th:insert="~{/client/banner}"></th:block>
    <div class="container  mb-3">
        <div class="row">
            <div class="col-6 mt-3 p-3">
                <img src="/client/images/ab.jpg" width="100%" height="100%" alt="">
            </div>

            <div class="col-6 mt-3 p-3">
                <h3 class="fw-bold">GIỚI THIỆU
                    <j class="fw-bold text-warning">DÀ NẴNG CHILL</j>
                </h3>

                <p class="text-muted">
                    Bắt đầu hoạt động từ tháng 5 năm 2004, Mona Media Resort, Mũi Né, Phan Thiết tạo nên sự khác biệt trên nhiều phương diện. Đây là khu nghỉ dưỡng duy nhất tại Việt Nam cung cấp chương trình “Tất cả trong một”, Tiệc phô mai và rượu đãi khách miễn phí, Các
                    bài hát vui tươi, sôi động do hai ban nhạc của khu nghỉ dưỡng trình bày và chương trình Dạo bộ Làng Chài và Chợ Mũi Né hàng ngày. Khác với các khu nghỉ dưỡng khác dọc theo bờ biển Phan Thiết, Mona Media Resort đủ điều kiện để giúp
                    bạn tận hưởng những phút giây thư giãn thoải mái, lấy lại năng lượng sau khoảng thời gian làm việc vất vả.
                </p>

                <p class="text-muted">
                    Mona Media Resort là một bức tranh hoàn mỹ của nghệ thuật kiến trúc và xây dựng. Ngay cạnh bãi biển là hồ bơi rộng lớn, được bao bọc bởi hàng dừa xanh mượt. Xung quanh các ngôi nhà, biệt thự là khu vườn nhiệt đới với nhiều loài thảo mộc đặc trưng của
                    khu vực. Văn hóa cổ Champa cũng được thể hiện trong hầu hết các kiến trúc xây dựng nơi đây, từ các ngôi nhà cho đến khu vực tiền sảnh. Khách check in sẽ được thưởng thức âm nhạc Champa độc đáo do chính ban nhạc Champa địa phương trình
                    diễn.
                </p>
                <p class="text-muted">Bạn sẽ dễ dàng cảm nhận được sự hiếu khách, nụ cười than thiện cũng như cung cách phục vụ chuyên nghiệp của các nhân viên nơi đây.</p>
                <br>
       
            </div>

        </div>

        <div class="row">
          

            <div class="col-7 mt-3 p-3">
               

                <p class="text-muted">
                    Bắt đầu hoạt động từ tháng 5 năm 2004, Mona Media Resort, Mũi Né, Phan Thiết tạo nên sự khác biệt trên nhiều phương diện. Đây là khu nghỉ dưỡng duy nhất tại Việt Nam cung cấp chương trình “Tất cả trong một”, Tiệc phô mai và rượu đãi khách miễn phí, Các
                    bài hát vui tươi, sôi động do hai ban nhạc của khu nghỉ dưỡng trình bày và chương trình Dạo bộ Làng Chài và Chợ Mũi Né hàng ngày. Khác với các khu nghỉ dưỡng khác dọc theo bờ biển Phan Thiết, Mona Media Resort đủ điều kiện để giúp
                    bạn tận hưởng những phút giây thư giãn thoải mái, lấy lại năng lượng sau khoảng thời gian làm việc vất vả.
                </p>

                <p class="text-muted">
                    Mona Media Resort là một bức tranh hoàn mỹ của nghệ thuật kiến trúc và xây dựng. Ngay cạnh bãi biển là hồ bơi rộng lớn, được bao bọc bởi hàng dừa xanh mượt. Xung quanh các ngôi nhà, biệt thự là khu vườn nhiệt đới với nhiều loài thảo mộc đặc trưng của
                    khu vực. Văn hóa cổ Champa cũng được thể hiện trong hầu hết các kiến trúc xây dựng nơi đây, từ các ngôi nhà cho đến khu vực tiền sảnh. Khách check in sẽ được thưởng thức âm nhạc Champa độc đáo do chính ban nhạc Champa địa phương trình
                    diễn.
                </p>
                <p class="text-muted">Bạn sẽ dễ dàng cảm nhận được sự hiếu khách, nụ cười than thiện cũng như cung cách phục vụ chuyên nghiệp của các nhân viên nơi đây.</p>
                <br>
       
            </div>
            <div class="col-5 mt-3 p-3">
                <img src="https://cdn.alongwalk.info/vn/wp-content/uploads/2022/02/23014734/image-10-hinh-anh-khach-san-du-khach-muon-duoc-nhin-thay-nhat-164553045440951.jpg" width="100%" height="100%" alt="">
            </div>

        </div>

        <div class="row">
            <div class="col-5 mt-3 p-3">
                <img src="https://asiky.com/files/images/Article/tin-tuc/chup-anh-khach-san.jpg" width="100%" height="100%" alt="">
            </div>

            <div class="col-7 mt-3 p-3">
               

                <p class="text-muted">
                    Bắt đầu hoạt động từ tháng 5 năm 2004, Mona Media Resort, Mũi Né, Phan Thiết tạo nên sự khác biệt trên nhiều phương diện. Đây là khu nghỉ dưỡng duy nhất tại Việt Nam cung cấp chương trình “Tất cả trong một”, Tiệc phô mai và rượu đãi khách miễn phí, Các
                    bài hát vui tươi, sôi động do hai ban nhạc của khu nghỉ dưỡng trình bày và chương trình Dạo bộ Làng Chài và Chợ Mũi Né hàng ngày. Khác với các khu nghỉ dưỡng khác dọc theo bờ biển Phan Thiết, Mona Media Resort đủ điều kiện để giúp
                    bạn tận hưởng những phút giây thư giãn thoải mái, lấy lại năng lượng sau khoảng thời gian làm việc vất vả.
                </p>

                <p class="text-muted">
                    Mona Media Resort là một bức tranh hoàn mỹ của nghệ thuật kiến trúc và xây dựng. Ngay cạnh bãi biển là hồ bơi rộng lớn, được bao bọc bởi hàng dừa xanh mượt. Xung quanh các ngôi nhà, biệt thự là khu vườn nhiệt đới với nhiều loài thảo mộc đặc trưng của
                    khu vực. Văn hóa cổ Champa cũng được thể hiện trong hầu hết các kiến trúc xây dựng nơi đây, từ các ngôi nhà cho đến khu vực tiền sảnh. Khách check in sẽ được thưởng thức âm nhạc Champa độc đáo do chính ban nhạc Champa địa phương trình
                    diễn.
                </p>
                <p class="text-muted">Bạn sẽ dễ dàng cảm nhận được sự hiếu khách, nụ cười than thiện cũng như cung cách phục vụ chuyên nghiệp của các nhân viên nơi đây.</p>
                <br>
       
            </div>

        </div>
    </div>

    <th:block  th:insert="~{/client/footer}"></th:block>
    
</body>

</html>