* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ant-modal-wrap {
    overflow-x: hidden !important;
}

.ant-drawer-close {
    position: absolute;
    top: 20px;
    right: 0;
}

.ant-modal-root {
    .ant-form-item-explain-error {
        margin-bottom: 12px;
    }
}